  <div class='cards'>
    <div>
      <img src="{{imgUrl + film.poster_path}}" alt="">
    </div>

    <div class='info'>
      <h2>{{film.title}}</h2>
      <p class='year'>{{film.release_date}}</p>
      <p class="genre">Жанр:
        <span *ngFor="let genre of film.genres">
          <span>{{genre.name}} / </span>          
        </span>
      </p>

      <p class="description">
        {{ (film.overview.length > 400) ? (film.overview | slice:0:400) + '...' : (film.overview) }}</p>
      <p class="budget">Бюджет фильма: {{film.budget}}$ </p>

      <div>

        <img src="{{imgUrl + film.backdrop_path}}" alt="">
      </div>
    </div>
 </div>