<mat-card class="menu-card">
    
    <mat-toolbar class="menu-toolbar">
        <mat-toolbar-row>
          <span *ngIf="countElement; else noFavorits">В избранное добавлено: {{countElement}}</span>
          <ng-template #noFavorits><span>У вас нет избранного</span></ng-template>
          <span class="example-spacer"></span>
            <div>
                <mat-form-field>
                  <mat-select placeholder="Сортировка">
                    <mat-option [value]="ASC">По алфавиту: A-Z</mat-option>
                    <mat-option [value]="DESC">По алфавиту: Z-A </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

</mat-card>
  
  
<div class="container">
  <div class="row card-wrap">
    <app-film-item
      [data]="film" 
      (updateCounter)="addFilmObj()"
      *ngFor="let film of films">
    </app-film-item>
  </div> 
</div>


