.menu-card {
  padding: 0px;
}

.menu-toolbar {
  background-color: white;
  min-height: 65px;
  height: 65px;
}

.sort-section {
  width: 185px;
}

.cards-section {
  max-width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
  height: 93vh;
  overflow-x: hidden;
  padding: 2.5% 0;
}

