<mat-toolbar *ngIf="isLogin" class="header">
  <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div class="logo-wrapp" routerLink="/main">
        <img src="assets/logo.jpg" alt="">
      </div>      
      <div class="nav-section">
        <a 
          mat-button 
          *ngFor="let link of links" 
          [routerLink]="link.path" 
          [routerLinkActive]="link.active"
          (click)="clearPageCounter(link.page)">       
          <span>{{link.label}}</span>
        </a>
        <a routerLinkActive="button-active" routerLink="/favorites" mat-button class="favorites" matBadge="15" matBadgeColor="warn">
         <span>Избранные</span>
       <!--     <div>
            <span>12</span>
          </div> -->
        </a>        
      </div>
      <app-search></app-search>         

    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div class="user">
        <span class="avatar">{{ username | slice:0:1 }}</span>
        <span class="username">{{username}}</span>
      </div>
      
      <button mat-raised-button class="loguot" (click)="logout()">Выйти</button>
    </div>
   
  </mat-toolbar-row>
</mat-toolbar>

<div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>