<mat-toolbar>
  <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div class="logo-wrapp" routerLink="/main">
      <img src="assets/logo.jpg" alt="">
    </div> 
    <div>
      <a 
        mat-button 
        *ngFor="let link of links" 
        [routerLink]="link.path" 
        [routerLinkActive]="link.active">       
        <span class="nav">{{link.label}}</span>
      </a>
    </div>
    <app-search></app-search>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
