

button {
  	margin: auto 0;
}



.not-found {
    height: 100%;
    .icon {
        height: 200px;
        width: 200px;
        margin-bottom: 20px;
    }
}






.cards-section {
  max-width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
  height: 93vh;
  overflow-x: hidden;  
  .cards {
    margin: 30px auto;
    max-width: 1100px;
  }
}



