.cards-section {
  .cards {
    margin: 0 auto;
    max-width: 1200px;

    .film-item {
      margin-bottom: 20px;
    }
  }
}

button {
  margin: auto;
}

.cards-header {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;

  div {
    display: flex;
    align-items: center;

    p {
      padding-top: 5px;
    }

    button {
      margin-left: 20px;
    }
  }
}
