

  .pagination {
    width: 100%;
    position: relative;
    flex: 1;
    // background: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .description {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 20%;

      .page-counts {
        margin-right: 20% * 2;
      }
    }

    .numbers {
      display: flex;
      text-align: center;     

      button {
        flex: 0 0 auto;
        outline: none;
        border: 0;
        // padding: 0 (20% / 2);
        background: transparent;
        cursor: pointer;

        &.link {
            display: flex;
        }

        &.active {
            color: red;
        }

        &.disabled {
        //   @extend .link-disabled;
          color: lightgrey;
        }
      }
    }
  }



