  <div class='cards'>
    <div>
      <img src="{{imgUrl + actor.profile_path}}" alt="">
    </div>
    <div class='info'>
      <div class="popularity">
        <label>{{actor.popularity}}</label>
        <mat-progress-spinner
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="actor.popularity">            
        </mat-progress-spinner>
      </div>
      <h2>{{actor.name}}</h2>
      <p class='year'>Дата рождения:
        <span>{{actor.birthday}}</span>        
      </p>
      <p class='year' *ngIf="actor.deathday" >Дата смерти:
        <span>{{actor.deathday}}</span>        
      </p>
      <p class="place_of_birth">Место рождения:        
          <span>{{actor.place_of_birth}}</span>       
      </p>
      <p class="biography">{{ actor.biography }}</p>      
    </div>
  </div>