.cards-section {
  padding: 2.5%;
  padding-top: 5%;
  display: flex;

  >div {
    margin: auto;

    >div {
      margin-bottom: 40px;
    }

    >div:last-child {
      margin-bottom: 0;
    }
  }

}