<div class="cards" [ngClass]="{'hideCards': hide}">
  <div>
    <img src="{{ imgUrl + film.poster_path }}" alt="" />
  </div>
  <div class="info">
    <div>
      <div class="title">
        <h2>{{ film.title }}</h2>
        <div class="popularity-circle">
          <div class="popularity width-sircle-25">
            <label>{{film.vote_average}}</label>
            <mat-progress-spinner class="example-margin" [mode]="mode" [value]="film.vote_average * 10">
            </mat-progress-spinner>
          </div>
        </div>
      </div>
      <p class="year">{{ film.release_date | date: 'MMMM d, y' : 'ru' }}</p>
      <p class="description">
        {{ film.overview.length > 200 ? (film.overview | slice: 0:200) + '...' : film.overview }}
      </p>
    </div>
    <mat-card-actions>
      <a mat-icon-button (click)="getDetails()">
        <i class="material-icons">menu</i>
      </a>
      <ng-container *ngIf="favorites">
        <button mat-icon-button *ngIf="!film.isFavorite; else marked" (click)="addToFavorites()">
          <i class="material-icons">favorite_border</i>
        </button>
        <ng-template #marked>
          <button mat-icon-button (click)="addToFavorites()" color="warn">
            <i class="material-icons">favorite</i>
          </button>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="!favorites">
        <button mat-icon-button (click)="addToFavorites()">
          <i class="material-icons">delete_forever</i>
        </button>
      </ng-container>
    </mat-card-actions>
  </div>
</div>
