<div class='block'>
  <div class='cards'>
    <h2>{{actor.name}}</h2>
    <div fxLayout="row">
      <img src="{{imgUrl + actor.profile_path}}" alt="">
    </div>
    <div class='info'>     
 
      <mat-card-actions>
        <button mat-icon-button>
          <i class="material-icons">
            play_arrow
          </i>
        </button>
        <button mat-icon-button>
          <i class="material-icons">
            menu
          </i>
        </button>
        <button mat-icon-button>
          <i class="material-icons">favorite</i>
        </button>

      </mat-card-actions>
    </div>
  </div>
</div>

