.cards-section {
  display: flex;

  >div {
    margin: auto;
    max-width: 1250px;

    >div {
      margin-bottom: 40px;

      >div:first-child {
        margin-bottom: 40px;
      }
    }

    >div:last-child {
      margin-bottom: 0;
    }
  }
}

.film-mat-card {
  position: absolute;
}

.film-mat-card:nth-child(1) {
         left: 18%;
         top: 25%;
}

.film-mat-card:nth-child(2) {
      left: 5%;
      top: 20%;
      transform: rotate(5deg);
}

.film-mat-card:nth-child(3) {
           left: 32%;
           top: 27%;
           transform: rotate(-5deg);
}

.film-mat-card:nth-child(4) {
        left: 45%;
        top: 19%;
         transform: rotate(2deg);
}

.film-mat-card:nth-child(5) {
        left: 57%;
        top: 10%;
        transform: rotate(3deg);

}

.film-mat-card:nth-child(6) {
             left: 80%;
             top: 20%;
          transform: rotate(5deg);
}

.film-mat-card:nth-child(7) {
        left: 67%;
        top: 26%;
        transform: rotate(20deg);
}

.wrap-mat-card {
    height: 300px;
}

.mat-card {
  padding: .5%;
  margin: 0;
  height: 280px;
  // transform: rotateY(180deg);

  div {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.not-img {
  width: 100%;
  height: 100%;
  background: #fdfffa;
  border: 1px solid rgba(68, 68, 73, .1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  img {
    width: 75% !important;
    height: 75% !important;
    object-fit: contain !important;
  }
}

.mat-card:nth-child(1) {
  animation: rotateY .5s 2s ease forwards;
}

.mat-card:nth-child(2) {
  animation: rotateY .5s 2.2s ease forwards;
}

.mat-card:nth-child(3) {
  animation: rotateY .5s 2.4s ease forwards;
}

.mat-card:nth-child(4) {
  animation: rotateY .5s 2.6s ease forwards;
}

.mat-card:nth-child(5) {
  animation: rotateY .5s 2.8s ease forwards;
}

.mat-card:nth-child(6) {
  animation: rotateY .5s 3s ease forwards;
}

.mat-card:nth-child(7) {
  animation: rotateY .5s 3.2s ease forwards;
}

// @keyframes rotateY {
//   to {
//     transform: rotateY(0);
//   }
// }

button {
  margin: auto 0;
      padding: 0 10px;
      line-height: 25px;
          font-size: 12px;

}








.flipper { 
  transform-style: preserve-3d;  
}

.back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}


// .front {
//   z-index: 2;
// }

