@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.row {
  width: 100%;
}

mat-card {
  max-width: 90%;
  margin: 2em auto;
  text-align: center;
}

.mat-toolbar,
.mat-toolbar-row,
.mat-button,
.mat-form-field,
.mat-option,
.mat-raised-button {
  font-family: 'Montserrat', sans-serif;
}

.mat-toolbar {
  background: rgb(69, 74, 98);
  color: #fff;
}

.mat-toolbar-row {
  width: 90% !important;
  margin: auto;
}

.mat-toolbar {
  font-size: 14px;
}

.mb-2em {
  margin-bottom: 2em;
}


.cards-section::-webkit-scrollbar {
  width: .5em;
}

.cards-section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.cards-section::-webkit-scrollbar-thumb {
  background: rgba(69, 74, 98, .5);
  outline: 1px solid rgba(69, 74, 98, .2);
}

