<div class='block'>
  <div class='cards'>
    <div>
      <img src="{{film.imgUrl}}" alt="">
    </div>
    <div class='info'>
      <h2>{{film.name}}</h2>
      <p class='year'>{{film.year}}</p>
      <p class="description">
        {{ (film.description.length > 150) ? (film.description | slice:0:180) + '...' : (film.description) }}</p>
      <div class='btn-block'>
        <button mat-button (click)="addToFavorites()">{{film.isFavorite ? 'Удалить из избранного' : 'Добавить в избранное'}}</button>
      </div>
    </div>
  </div>
</div>
