.menu-card {
  padding: 0px;
}

.menu-toolbar {
  background-color: white;
  min-height: 65px;
  height: 65px;
}

.sort-section {
  width: 185px;
}

.cards-section {
  max-width: 90%;
  margin: 2em auto;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.2)
}
