<div *ngIf="!spinner" class="cards-section">
  <div class="cards-header" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutAlign.lt-sm="center">
    <h2>{{totalResult}} актеров</h2>
    <div>
      <p>Страница: {{page}} из {{totalPages}}</p>     
    </div>
  </div>

  <div class="cards" fxLayout="row wrap" fxLayoutAlign="space-evenly start">
    <app-actor-item
      class="actor-item" 
      fxFlex="17%" 
      fxFlex.lt-md="45%" 
      fxFlex.lt-sm="100%" 
      [data]="actor"
      *ngFor="let actor of actors"
    >
    </app-actor-item>

    <div class="pagination-section">
      <app-pagination 
        (goPage)="goToPage($event)" 
        (goNext)="onNext()" 
        (goPrev)="onPrev()" 
        [page]="page"
        [totalPages]="totalPages"
      >
      </app-pagination>
    </div>



  </div>
</div>

<app-spiner *ngIf="spinner"></app-spiner>
