app-search {
  margin-left: 35px;
}

.header {
  position: absolute;
}

.nav-section {
  padding-right: 15px;
  border-right: 1px solid white;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-button {
  margin: 0 5px;
  font-weight: 400;
  transition: all 1s;
  &:hover {
    background: rgba(253, 255, 250, 0.2);
    transition: all .5s;
  }
}



.button-active {  
  background: rgba(253, 255, 250, 0.1)
}



.logo-wrapp {
  height: 50px;
  width: 50px;
  display: flex;
  outline: none;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;    
  }
}

.loguot {
  background: red;
  color: white;
  margin-left: 50px;
}