

<div class="wrapper">
    <h2>Вас приветсвует приложение о фильмах</h2><br> 
    <mat-tab-group>
      <mat-tab label="Информация о портале">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ipsum dicta inventore nam harum, voluptatum ut sit pariatur deserunt eaque ratione voluptatem rem dolore atque sunt ipsa iure perferendis neque.</mat-tab>
      <mat-tab class="tabs" label="Дополнительная информация">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ipsum dicta inventore nam harum, voluptatum ut sit pariatur deserunt eaque ratione voluptatem rem dolore atque sunt ipsa iure perferendis neque.</mat-tab>
    </mat-tab-group> 
</div>


