<div class="login-wrapper">
  <div class="background">
    <div *ngFor="let film of films">
      <img src="{{imgUrl + film.poster_path}}" alt="">
    </div>
  </div>
  <div class="background-back">
    <div *ngFor="let background of backgrounds">
      <img src="{{imgUrl + background.poster_path}}" alt="">
    </div>
  </div>
  
  <mat-card class="auth-form" [ngClass]="{'disaperForm': formSection}">
    <section class="title">
      <div class="logo">
        <img src="assets/logo.jpg" alt="">
      </div>
      <h3 class="welcome">Приветствуем Вас на сайте о кино</h3>
      <h5 class="hint">Для работы с сайтом необходимо авторизоваться</h5>
    </section>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-section">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Адрес электронной почты" formControlName="email">
          <mat-error *ngIf="f.email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Пароль" formControlName="password">
          <mat-error *ngIf="f.password.invalid">{{getErrorMessageForPassword()}} </mat-error>
        </mat-form-field>

      </div>
      <button mat-raised-button color="accent">Войти</button>
    </form>

    <div class="error active" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

  </mat-card>

</div>
